{{extend 'layout.html'}}

<!-- In theory there is a script that generates the html we see in this file -->

<div class="container" style="overflow:hidden"><!-- Container -->
	<div class="row-fluid"><!-- Fluid Row -->
		<div class="span12">
			<div class="assassins-pad">
				<div class="assassins-padback">


					<div class="assassins-padtape"></div>
					<div class="assassins-padheader">
						<div class="assassins-padheadertext">
							Create Game
						</div>
					</div>


					<div class="assassins-padcontent">
						<div id="web2py_user_form">
							{{=form}}
						</div><!-- End web2py Form -->
					</div><!-- End Pad Content -->


				</div><!-- End Pad Back -->
			</div><!-- End Pad -->
		</div><!-- End Span 12 -->
	</div><!-- End Row Fluid -->
</div><!-- End Container-->