{{extend 'layout.html'}}

<!-- In theory there is a script that generates the html we see in this file -->

<div class="container" style="overflow:hidden"><!-- Container -->
	<div class="row-fluid"><!-- Fluid Row -->


		<div class="span6">
			<div class="assassins-pad">
            	<div class="assassins-padback">
                	<div class="assassins-padtape"></div>
                    <div class="assassins-padcontent">
						<h2>Disclaimer</h2>
						<p>Please use this web page to facilitate fun and safe games of Assassins. Be aware of the setting you are playing in and attempt not to disrupt at inappropriate times. Be aware of the safety of players of your game as well as people around, but not involved. We are not responsible for events that happen during Assassins games that were created on this web page, but we will take credit for the fun had.</p>
						<p>Use common sense, and have a fun time tricking and pretending to kill your friends.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="span6">
			<div class="assassins-pad">
            	<div class="assassins-padback">
                	<div class="assassins-padtape"></div>
                    <div class="assassins-padcontent">
						<h2>Need Help?</h2>
						<ul>
                            <p><li>Review game play <a href={{=URL('index')}}>explanation</a>.</p>
						<p><li>Contact the Assassins admin team.</p>
						<ul>
                            <p>Email: <a href="mailto:webmaster.assassins@gmail.com">webmaster.assassins@gmail.com</a></p>
                        </ul>
                        </ul>
					</div>
				</div>

	</div><!-- End Row Fluid -->
</div><!-- End Container-->
