{{extend 'layout.html'}}

<!-- In theory there is a script that generates the html we see in this file -->

<div class="container" style="overflow:hidden"><!-- Container -->
	<div class="row-fluid"><!-- Fluid Row -->


		<div class="row-fluid">
			<div class="assassins-pad">
				<div class="assassins-padback">
					<div class="assassins-padtape"></div>
					<div class="assassins-padcontent">
				<h2>Thanks for registering!</h2>
				<p>Please check your email and follow the link there to verify your email account! </p>
				<p>If you can't find it, be sure to check your spam filter.</p>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div class="span6">
			<div class="hero-unit">
				<h2>Contact Us</h2>
				<p>email</p>
				<p>feedback</p>
				<p>privacy</p>
			</div>
		</div>
		-->


	</div><!-- End Row Fluid -->
</div><!-- End Container-->
