{{extend 'layout.html'}}

<!-- ============================================================ -->
<div class="container" style="overflow:hidden"><!-- Container -->
	<div class="row-fluid"><!-- Fluid Row -->
		<div class="span4"><!-- Span4 -->


			<div class="row-fluid"><!-- Fluid Row -->
				<div class="assassins-polaroid">
					<div class="assassins-polaroidback-nohover" href="#">
						<div class="assassins-polaroidcontent">
							<img class="assassins-polaroidpicture" src="{{=polaroid['image']}}" alt="">
							<div class="assassins-polaroidtext">{{=polaroid['text1']}}</div>
							<div class="assassins-polaroidtext2">{{=polaroid['text2']}}</div>
							<div class="assassins-polaroidpin"></div>
							<div class="assassins-vignette"></div>
							{{if polaroid['status'] == 'DEAD':}}<div class="assassins-polaroiddead"></div>{{pass}}
							{{if polaroid['status'] == 'HALF_DEAD':}}<div class="assassins-polaroidhalfalive"></div>{{pass}}
						</div><!-- End Polaroid Content -->
					</div><!-- End Polaroid Back -->
				</div><!-- End Polaroid -->
			</div><!-- End Fluid Row -->


			<div class="row-fluid"><!-- Fluid Row -->
				<div class="assassins-pad">
					<div class="assassins-padback">
						<div class="assassins-padtape"></div>
						<div class="assassins-padcontent">
							</br>
							<div class='abtn-large'>{{=btn['back']}}</div>
							<div class='abtn-small'>{{=btn['delete']}}</div>
						</div><!-- End Pad Content -->
					</div><!-- End Pad Back -->
				</div><!-- End Pad -->
			</div><!-- End Fluid Row -->


		</div><!-- End Span4 -->
		<div class="span8">


			<div class="row-fuid">
				<div class="assassins-pad">
					<div class="assassins-padback">
						<div class="assassins-padtape"></div>
						<div class="assassins-padheader">
							<div class="assassins-padheadertext">
								Edit Game
							</div><!-- End Pad Header Text -->
						</div><!-- End Pad Header -->
						<div class="assassins-padcontent">
							<div class="row-fluid"><!-- Fluid Row -->
								<div class="span12">
									<div id="web2py_user_form">
										{{=updateForm}}
									</div><!-- End web2py Form -->
								</div><!-- End Span 12 -->
							</div><!-- End Row Fluid -->
						</div><!-- End Pad Content -->
					</div><!-- End Pad Back -->
				</div><!-- End Pad -->
			</div><!-- End Row Fluid -->

			<br>

			<div class="row-fuid">
				<div class="assassins-pad">
					<div class="assassins-padback">
						<div class="assassins-padtape"></div>
						<div class="assassins-padheader">
							<div class="assassins-padheadertext">
								Edit Players
							</div><!-- End Pad Header Text -->
						</div><!-- End Pad Header -->
						<div class="assassins-padcontent">
						{{if gameStats['rules'] == 'Assassins':}}
							<div class="row-fluid">
								<div class="span6">
									<h4>Players</h4>
									<p>{{=gameStats['players']}}</p>
								</div><!-- End Span 6 -->
								<div class="span6">
									<h4>Players Remaining</h4>
									<p>{{=gameStats['alive']}}</p>
								</div><!-- End Span 6 -->
							</div><!-- End Fluid Row -->
						{{pass}}
						{{if gameStats['rules'] == 'Humans v. Zombies':}}
							<div class="row-fluid">
								<div class="span4">
									<h4>Players</h4>
									<p>{{=gameStats['players']}}</p>
								</div><!-- End Span 4 -->
								<div class="span4">
									<h4>Humans</h4>
									<p>{{=gameStats['alive']}}</p>
								</div><!-- End Span 4 -->
								<div class="span4">
									<h4>Zombies</h4>
									<p>{{=gameStats['dead']}}</p>
								</div><!-- End Span 4 -->
							</div><!-- End Fluid Row -->
						{{pass}}
							<h4>Player List</h4>
							<table style="width:100%;border-width:0px;border-spacing:0px">
						{{for player in players:}}
								<tr>
									<td style="border-width:0px;padding:0px">
										<span{{if player['status'] == 'DEAD':}} style="text-decoration: line-through"{{pass}}>{{=player['name']}}</span>
									</td>
									<td style="border-width:0px;padding:0px">{{=player['kill']}}</td>
									<td style="border-width:0px;padding:0px">{{=player['kick']}}</td>
								</tr>
						{{pass}}
							</table>
						</div><!-- End Pad Content -->
					</div><!-- End Pad Back -->
				</div><!-- End Pad -->
			</div><!-- End Row Fluid -->


		</div><!-- End Span 8 -->
	</div><!-- End Row Fluid -->
</div><!-- End Container-->
<!-- ============================================================ -->